<style>
    .location{
        display: grid; 
        width: 100%; 
        grid-template-columns: 300px 300px 300px 300px;
        gap:50px;
    }

    .location form{
        margin-block: 20px;
    }

    .location form>div{
        display: grid;
        grid-template-columns: 100px 200px;
        margin: 10px;
    }

    .location input[type="text"]{
        height: 20px;
        width: 170px;
    }

    .location input[type="submit"]{
        height: 30px;
        width: 120px;
        border-radius: 5px;
        margin-inline: 5px;
    }

    .location input[type="file"]{
        border-radius: 5px;
        margin-inline: 5px;
    }

    .location .list{
        max-height: 300px;
        overflow-y: auto;
        margin-top: 20px;
    }

    .location select{
        height: 20px;
        width: 150px;
    }

    .location table{
        margin: 10px;
    }

    .location th{
        padding-inline: 5px;
        font-weight: normal;
        text-align: left;
        width: 200px;
        white-space: nowrap;
    }

    .location th:nth-child(1){
        text-align: right;
        width: 50px;
    }

    .location th:nth-child(3){
        text-align: center;
        width: 50px;
    }
</style>

<div class="location">
    <div>
        <form action="/locations/iller" method="post">
            <div><label>Plaka No :</label><input name="id" type="text"></div>
            <div><label>İl Adı :</label><input name="name" type="text"></div>
            <div style="display:flex; justify-content: end;">
                <input class="kaydet" type="submit" value="Kaydet">
            </div>
            <div style="display:flex; justify-content: start;">
                <input class="file" type="file" name="file[]">
            </div>
        </form>

        <div>
            <div class="list">
                <table id="table0">
                    <tr><th style="font-weight: bold;">PLAKA</th><th style="font-weight: bold;">ADI</th><th style="font-weight: bold;">PLAKA</th></tr>
                </table>                
            </div>
        </div>
        <div class="error"></div>
    </div>

    <div>
        <form action="/locations/ilceler" method="post">
            <div><label>İl :</label><select id="select0"><option>İl seçiniz...</option></select></div>
            <div><label>İlçe Adı :</label><input name="name" type="text"></div>
            <div style="display:flex; justify-content: end;">
                <input class="kaydet" type="submit" value="Kaydet">
            </div>
            <div style="display:flex; justify-content: start;">
                <input class="file" type="file" name="file[]">
            </div>
        </form>

        <div>
            <div class="list">
                <table id="table1">
                    <tr><th style="font-weight: bold;">SIRA</th><th style="font-weight: bold;">ADI</th></tr>
                </table>                
            </div>
        </div>
        <div class="error"></div>
    </div>

    <div>
        <form action="/locations/semtler" method="post">
            <div><label>İlçe :</label><select id="select1"><option>İlçe seçiniz...</option></select></div>
            <div><label>Semt Adı :</label><input name="name" type="text"></div>
            <div style="display:flex; justify-content: end;">
                <input class="kaydet" type="submit" value="Kaydet">
            </div>
            <div style="display:flex; justify-content: start;">
                <input class="file" type="file" name="file[]">
            </div>
        </form>

        <div>
            <div class="list">
                <table id="table2">
                    <tr><th style="font-weight: bold;">SIRA</th><th style="font-weight: bold;">ADI</th><th style="font-weight: bold;">P.K.</th></tr>
                </table>                
            </div>
        </div>
        <div class="error"></div>
    </div>

    <div>
        <form action="/locations/mahalleler" method="post">
            <div><label>Semt :</label><select id="select2"><option>Semt seçiniz...</option></select></div>
            <div><label>Mahalle Adı :</label><input name="name" type="text"></div>
            <div style="display:flex; justify-content: end;">
                <input class="kaydet" type="submit" value="Kaydet">
            </div>
            <div style="display:flex; justify-content: start;">
                <input class="file" type="file" name="file[]">
            </div>
        </form>

        <div>
            <div class="list">
                <table id="table3">
                    <tr><th style="font-weight: bold;">SIRA</th><th style="font-weight: bold;">ADI</th></tr>
                </table>                
            </div>
        </div>
        <div class="error"></div>
    </div>

<script>
    const forms = document.querySelectorAll(".location form");
    
    fetch("/locations/iller", {
        method: "GET"
    })
    .then((response) => response.json())
    .then((json) => {
        json.forEach(city => {
            listele(city, 0)
        }) 
    });

    forms.forEach((_form, index) => {
        _form.addEventListener("submit", function(e){
            e.preventDefault();
        })
        
        const button = _form.querySelector(".kaydet");
        button.addEventListener("click", function(e){
            let data = {
                parent: _form.elements[0].value,
                adi: _form.elements[1].value
            };

            kaydet(_form, data, index);
        });

        const select = document.querySelector("#select" + (index - 1));
        if(select)
        select.addEventListener("change", function(e){
            refresh(index);
            getCities(_form.action, index);
        });

        const file = _form.querySelector(".file");
        file.addEventListener("change", function(e){
            var fr = new FileReader();
            fr.readAsText(this.files[0], 'UTF-8');
            fr.onload = async function(){
                var lines = fr.result.split(/[\r\n]+/g);
                let datas = [];

                if (lines[0] !== "63f7b577ba85514110afdc1f"){
                    alert("dosya geçersiz");
                    return;
                }

                for(let i = 2; i < lines.length; i++){
                    let line = lines[i].split(";");
                    if(line[0] === "" || Number(line[0] <= 0)) continue;
                    
                    switch(index){
                        case 0:
                            data = {
                                id: Number(line[0]),
                                adi: line[2],
                                plaka: line[1]
                            }
                            break;
                        case 1:
                            data = {
                                id: line[0],
                                il: line[1],
                                adi: line[2]
                            }
                            break;
                        case 2:
                            data = {
                                id:  line[0],
                                il: line[1],
                                ilce: line[2],
                                adi:  line[3],
                                postakodu: line[4],
                            }
                            break;
                        case 3:
                            data = {
                                id: line[0],
                                il: line[1],
                                ilce: line[2],
                                semt: line[3],
                                adi: line[4]
                            }
                            break;
                    }

                    await datas.push(data);
                    
                    if(i % 500 === 0){
                        await sendData(datas, index);
                        datas = [];
                    }
                }
                await sendData(datas, index);
            }
            fr.onerror = function() {
                console.log(fr.error);
            };
        })
    })

    function getCities(_uri, index){
        _uri = _uri + "/" + document.getElementById("select" + (index - 1)).value;
            fetch(_uri, {                                             
                method: "GET"
            })
            .then((response) => response.json())
            .then((json) => {
                json.forEach(city => {
                    listele(city, index)
                }) 
            });
    }

    async function kaydet(_form, data, index){
        fetch(_form.action, {
            method: "POST",
            body: new URLSearchParams(data),
            headers: {"Content-Type": "application/x-www-form-urlencoded"}
        })
        .then(response => response.json())
        .then(json => {
            let _tr = document.createElement("tr");
            _tr.innerHTML = `<th>${json.id}</th><th>${json.adi}</th>`;
            if(json.plaka) _tr.innerHTML += `<th>${json.plaka}</th>`;
            if(json.postakodu) _tr.innerHTML += `<th>${json.postakodu}</th>`;
            document.getElementById("table" + index).appendChild(_tr);
        })
        .catch(err => console.log(err))
    }

    function listele(city, ind){
        let tr = document.createElement("tr");
        let opt = document.createElement("option");
        opt.value = city.id;
        opt.innerHTML = city.adi;
        tr.innerHTML = `<th>${city.id}</th><th>${city.adi}</th>`;
        if(city.plaka) tr.innerHTML += `<th>${city.plaka}</th>`;
        if(city.postakodu) tr.innerHTML += `<th>${city.postakodu}</th>`;
        document.getElementById("table" + ind).appendChild(tr);
        if(ind < 3) document.getElementById("select" + ind).appendChild(opt);
    }

    function refresh(index){
        switch(index){
            case 1:
                document.getElementById("table1").innerHTML = `<tr><th style="font-weight: bold;">SIRA</th><th style="font-weight: bold;">ADI</th></tr>`;
                document.getElementById("table2").innerHTML = `<tr><th style="font-weight: bold;">SIRA</th><th style="font-weight: bold;">ADI</th><th style="font-weight: bold;">P.K.</th></tr>`;
                document.getElementById("table3").innerHTML = `<tr><th style="font-weight: bold;">SIRA</th><th style="font-weight: bold;">ADI</th></tr>`;
                document.getElementById("select1").innerHTML = "<option>İlçe seçiniz...</option>";
                document.getElementById("select2").innerHTML = "<option>Semt seçiniz...</option>";
                break;

            case 2:
                document.getElementById("table2").innerHTML = `<tr><th style="font-weight: bold;">SIRA</th><th style="font-weight: bold;">ADI</th><th style="font-weight: bold;">P.K.</th></tr>`;
                document.getElementById("table3").innerHTML = `<tr><th style="font-weight: bold;">SIRA</th><th style="font-weight: bold;">ADI</th></tr>`;
                document.getElementById("select2").innerHTML = "<option>Semt seçiniz...</option>";
                break;

            case 3:
                document.getElementById("table3").innerHTML = `<tr><th style="font-weight: bold;">SIRA</th><th style="font-weight: bold;">ADI</th></tr>`;
                break;
        }
    }

    async function sendData(data, index){
        var params = new URLSearchParams();
                params.append("db", index);
                params.append("arr", JSON.stringify(data));

                await fetch("/locations/importfile", {
                    method: "POST",
                    body: params,
                    headers: {
                        'Accept': 'application/json',
                        "Content-Type": "application/x-www-form-urlencoded"
                    }
                })
                .then(response => response.json())
                .then(json => {
                    console.log(json);
                        /*let _tr = document.createElement("tr");
                        _tr.innerHTML = `<th>${json.id}</th><th>${json.adi}</th>`;
                        if(json.plaka) _tr.innerHTML += `<th>${json.plaka}</th>`;
                        if(json.postakodu) _tr.innerHTML += `<th>${json.postakodu}</th>`;
                        document.getElementById("table" + index).appendChild(_tr);*/
                })
                .catch(err => console.log(err))
    }
</script>


