<style>
    .location{
        display: grid; 
        width: 100%; 
        grid-template-columns: 300px 300px 300px 300px;
        gap:50px;
    }

    form{
        margin-block: 20px;
    }

    .location form>div{
        display: grid;
        grid-template-columns: 100px 200px;
        margin: 10px;
    }

    .location input[type="text"]{
        height: 20px;
        width: 170px;
    }

    input[type="submit"]{
        height: 30px;
        width: 120px;
        border-radius: 5px;
        margin-inline: 5px;
    }

    .list{
        max-height: 300px;
        overflow-y: auto;
        margin-top: 20px;
    }

    select{
        height: 20px;
        width: 150px;
    }

    table{
        margin: 10px;
    }

    th{
        text-align: right;
        max-width: 50px;
        padding-inline: 5px;
        font-weight: normal;
    }

    th:nth-last-child(1){
        text-align: left;
        width: 150px;
        padding-left: 10px;
    }
</style>

<div class="location">
    <div>
        <form name="il" action="/locations/iller" method="post">
            <div><label>Plaka No :</label><input name="id" type="text"></div>
            <div><label>İl Adı :</label><input name="name" type="text"></div>
            <div style="display:flex; justify-content: end;">
                <input class="file" type="file" name="file[]" value="Dosyadan Yükle">
                <input class="kaydet" type="submit" value="Kaydet">
            </div>
        </form>

        <div>
            <div class="list">
                <table id="iller">
                    <tr><th style="font-weight: bold;">SIRA</th><th style="font-weight: bold;">PLAKA</th><th style="font-weight: bold;">ADI</th></tr>
                </table>                
            </div>
        </div>
        <div class="error"></div>
    </div>

    <div>
        <form action="/locations/ilceler" method="post">
            <div><label>İl :</label><select id="ilselect"><option value=1>İl Seçiniz</option></select></div>
            <div><label>İlçe Adı :</label><input type="text"></div>
            <div style="display:flex; justify-content: end;">
                <input type="submit" value="Dosyadan Yükle"><input class="kaydet" type="submit" value="Kaydet">
            </div>
        </form>

        <div>
            <div class="list">
                <table id="iller">
                    <tr><th style="font-weight: bold;">SIRA</th><th style="font-weight: bold;">PLAKA</th><th style="font-weight: bold;">ADI</th></tr>
                </table>                
            </div>
        </div>
        <div class="error"></div>
    </div>

    <div>
        <form action="/locations/semtler" method="post">
            <div><label>İlçe :</label><select id="ilceselect"><option value=0>İlçe Seçiniz</option></select></div>
            <div><label>Semt Adı :</label><input type="text"></div>
            <div style="display:flex; justify-content: end;">
                <input type="submit" value="Dosyadan Yükle"><input class="kaydet" type="submit" value="Kaydet">
            </div>
        </form>

        <div>
            <div class="list">
                <table id="iller">
                    <tr><th style="font-weight: bold;">SIRA</th><th style="font-weight: bold;">PLAKA</th><th style="font-weight: bold;">ADI</th></tr>
                </table>                
            </div>
        </div>
        <div class="error"></div>
    </div>

    <div>
        <form action="/locations/mahalleler" method="post">
            <div><label>Semt :</label><select id="semtselect"><option  value=0>Semt Seçiniz</option></select></div>
            <div><label>Mahalle Adı :</label><input type="text"></div>
            <div style="display:flex; justify-content: end;">
                <input type="submit" value="Dosyadan Yükle"><input class="kaydet" type="submit" value="Kaydet">
            </div>
        </form>

        <div>
            <div class="list">
                <table id="iller">
                    <tr><th style="font-weight: bold;">SIRA</th><th style="font-weight: bold;">PLAKA</th><th style="font-weight: bold;">ADI</th></tr>
                </table>                
            </div>
        </div>
        <div class="error"></div>
    </div>
</div>

<script>
    const forms = document.querySelectorAll(".location form");
    
    forms.forEach(form => {
        form.addEventListener("submit", function(e){
            e.preventDefault();
        })

        const button = form.querySelector(".kaydet");
        button.addEventListener("click", function(e){
            let data = {
                plaka: form.elements[0].value,
                adi: form.elements[1].value
            }

            alert(form.name)
            /*fetch('/locations/iller', {
                method: "POST",
                body: new URLSearchParams(data),
                headers: {"Content-Type": "application/x-www-form-urlencoded"}
            })
            .then(response => response.json())
            .then(json => {
                let tr = document.createElement("tr");
                tr.innerHTML = `<th>${json.id}</th><th>${json.plaka}</th><th>${json.adi}</th>`;
                document.querySelector("#iller").appendChild(tr);
            })
            .catch(err => console.log(err));*/
        });

        const file = form.querySelector(".file");
        file.addEventListener("change", function(e){
            var fr=new FileReader();
            fr.readAsText(this.files[0], 'UTF-8');
            fr.onload=function(){
                var lines = fr.result.split(/[\r\n]+/g);
                /*for(let i=1; i<5; i++){
                    let data = lines[1].split(";");
                    alert(data[0] + " " + data[1] + " " + data[2])
                }*/
                lines.forEach(line => {
                    let alan = line.split(";");
                    let data = new URLSearchParams;
                    data.append({id: alan[0]});
                    data.append({plaka: alan[1]});
                    data.append({adi: alan[2]});

                    fetch('/locations/iller', {
                        method: "POST",
                        body: data,
                        headers: {"Content-Type": "application/x-www-form-urlencoded"}
                    })
                    .then(response => response.json())
                    .then(json => {
                        let tr = document.createElement("tr");
                        tr.innerHTML = `<th>${json.id}</th><th>${json.plaka}</th><th>${json.adi}</th>`;
                        document.querySelector("#iller").appendChild(tr);
                    })
                    .catch(err => console.log(err));
                })
            }
            fs.onerror = function() {
                console.log(fr.error);
            };
        })
    })

    fetch("/locations/iller", {
        method: "GET"
    })
    .then((response) => response.json())
    .then((json) => {
        json.forEach(il => {
            let tr = document.createElement("tr");
            let opt = document.createElement("option");
            opt.value = il.id;
            opt.innerHTML = il.adi;
            tr.innerHTML = `<th>${il.id}</th><th>${il.plaka}</th><th>${il.adi}</th>`;
            document.querySelector("#iller").appendChild(tr);
            document.querySelector("#ilselect").appendChild(opt);
        })
    });
</script>


