
<style>
    .main{
        display:grid; 
        grid-template-columns: 150px 200px; 
        justify-content: center;
    }

    input{
        height: 2rem;
    }

    input[type="submit"]{
        width: 5rem;
    }

   .error-message{
        margin-left: 1rem;
        color:red;
        text-align: center;
   }
</style>

<div class="container">
    <form name="loginform" action="/user/login" method="post">
        <div class="main">
            <p>Kullanıcı Adı</p>
            <input id="username" type="text" name="username">

            <p>Şifre</p>
            <input id="password" type="password" name="password">

            <p></p>
            <p style="width:100%; text-align: right">
                <input type="submit" value="Giriş">
            </p>               
        </div>
    </form>
    <%if(typeof(error) != 'undefined'){%>
        <p class="error-message">Kullanıcı adınız veya şifreniz hatalı !</p> 
    <%}%>        
</div>
